aws_region          = "us-east-1"
environment         = "dev"
vpc_cidr            = "10.0.0.0/16"
public_subnets_cidr = ["10.0.1.0/24", "10.0.5.0/24"]
private_subnets_cidr= ["10.0.3.0/24", "10.0.4.0/24"]
azs                 = ["us-east-1a", "us-east-1b"]
instance_type       = "t3.micro"
ssh_key_name        = "my-key-pair"
allowed_ssh_cidr    = "0.0.0.0/0"  # Adjust this to your specific IP address for better security
db_password         = "securepassword123"
email               = "example@example.com"
